<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid">
    <div class="container animated fadeIn fast">

        <h1 class="mt-5 display-10">Bienvenido al Birras Meeting!</h1>

        <p class="lead">Bienvenido! te damos la oportunidad de que averigües como va a estar el tiempo, para asegurarte de que la meet y las birras va a ser de lo mejor!
        </p>

        <p class="lead">No te queremos sacar tanto tiempo, por eso te invitamos a que investigues nuestro menu donde podes calcular cuantas birras comprar, ver el tiempo y crear fiesta!</p>
    </div>

</div>